body{
	background-image: url("p.jpg");
	
}


#feeedkkk{
		
		border:2px solid;
		border-color:#B22222
}
span.high{
background-color: #696969;
border-radius:25px;
text-color: white;
padding:15px;
}

#mem{
	margin-left:25%;
    padding:1px 16px;
    height:1000px;

}



